.card {
  position: relative;
}

.card__images {
  margin-bottom: 12px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-btn {
  background: rgba(0, 0, 0, 0.3) url("../images/delete-icon.svg") center
    no-repeat;
  background-size: 12px 15px;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-color: #ff6565;
}

.card__title {
  margin: 0;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

.card__like-btn {
  background-image: url("../images/like-icon.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: auto;
  background-position: center;
  padding: 0;
  margin: 0;
  opacity: 0.4;
}

.card__like-btn:hover {
  background-image: url("../images/like-active-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-btn_liked:hover {
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url("../images/like-active.svg");
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .card__title {
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }

  .card__images {
    height: 288px;
  }
}
